{
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
  "rules": {
    "keyframe-block-no-duplicate-selectors": [
      true,
      {
        "message": "trololo"
      }
    ]
  }
}
